a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #0e2238;
}

