html, body {
    height: 100%;
    margin: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: beige;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
}


