

.sidebar {
    position: fixed;
    top: 56px; 
    left: auto;
    width: 200px;
    height: 100%;
    padding-top: 20px;
    transition: width 0.3s;
    background-color: Whitesmoke;
}
.navbar{
    background-color:  Whitesmoke;
    height: 56px;
    
}
.sidebar.collapsed {
    width: 80px;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    background-color: White;
    


}

.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: black;
}

.sidebar .nav-link:hover{
    background-color: black;
}

.main-content{
    height: 100%;
    margin-left: 200px;
    padding: 20px;
}

.nav-item .nav-link{
    color: black;
}
@media (max-width: 480px){
    .sidebar {
        width: 60px;
    }

    .sidebar .description{
        display: none;
    }

    .sidebar .nav-limk{
        justify-content: center;
    }

    .main-content{
        margin-left: 60px;
    }
}